{% extends 'books/base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 mt-5">
        <div class="card shadow">
            <div class="card-header bg-success text-white text-center py-3">
                <h4 class="mb-0">Welcome Back</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-2">Log In</button>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                Don't have an account? <a href="{% url 'register' %}">Register here</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
